body {
    background-color:#F8F8F4;
}

.navbar-atas {
    background-color:#B9C5A5 ;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.20);
}

.gambar-logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow:0 2px 12px rgba(0, 0, 0, 0.20);
    object-fit: cover;
}

.navbar-nav {
    gap: 60px;
}

.nav-link {
    font-weight: 600;
    position: relative;
}

.nav-link::after {
    height: 2px;
    background-color: black;
    bottom: 0;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.nav-link:hover::after{
    width: 100%;
}

.nav-link.active::after {
    width: 100%;
}

.atas {
    background-color:#CDEE77;
    padding: 20px 0;
    box-shadow:0 2px 12px rgba(0, 0, 0, 0.20);
}

.btn-hijau {
    background-color:#828B72 ;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn-hijau:hover {
    background-color: #709346;
}

.gambar-atas {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}

.iklan {
    border-radius: 10%;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.20);
}

.box {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.20);
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-5%);
}

.icon-box {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    object-fit: cover;
}

.gambar-hampers {
    width: 60%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.20);
}


.footer {
    background-color: #828B72;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.20);
}

.card {
  max-width: 300px;
  margin: auto;
  transition: transform 0.3s ease;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.20);
}

.card img {
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.card:hover {
  transform: translateY(-6px);
}